<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aadi Nickels' Portfolio</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="aadi" class="navbar-brand page-scroll" href="#page-top">Aadi Nickels</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">the <b>Code</b></a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#media">the <b>Media</b></a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#about">the <b>Woman</b></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#hobbies">the <b>Hobbies</b></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">the <b>Touch</b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome,</div>
                <div class="intro-heading">it's lovely to have you here.</div>
                <a href="#about" class="page-scroll btn btn-xl">Get To Know Me</a>
            </div>
        </div>
    </header>

       <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The <b>Code</b></h2>
                    <h3 class="section-subheading text-muted">Examples of my code and projects.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/personal_site.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Interstellar Welcome</h4>
                        <p class="text-muted">Website/Portfolio</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/arduinocommunitylogo.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Morse Code Holiday Lights</h4>
                        <p class="text-muted">Arduino Uno</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                    <!-- <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal"> -->
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <h3>Coming Soon</h3>
                                <!-- <i class="fa fa-plus fa-3x"></i> -->
                            </div>
                        </div>
                        <img src="img/portfolio/travel.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>The Road Less Traveled</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                    <!-- <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal"> -->
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <h3>Coming Soon</h3>
                                <!-- <i class="fa fa-plus fa-3x"></i> -->
                            </div>
                        </div>
                        <img src="img/portfolio/DACM.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Demented Assemblage, Co-Opted Melodrama</h4>
                        <p class="text-muted">SPA</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/audio_file.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>The Audio Files</h4>
                        <p class="text-muted">Web Application</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/Algorithmic.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Algorithms</h4>
                        <p class="text-muted">JavaScript</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Media Section -->
<!-- I have commented this out until I can get the api qurries to all three social media mediums to display properly -->
 <!--    <section id="media" class="bg-light-gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The <b>Media</b></h2>
                    <h3 class="section-subheading text-muted">My social media presence on the internet.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="feed">
                        <img src="img/media/speech-bubble.png" class="img-responsive">
                        <div id="twitter_update_list">
                        </div>
                    </div>
                    <a href="https://twitter.com/spaceaadity">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <h4>Twitter</h4>
                    <p class="text-muted">@Spaceaadity</p>
                </div> -->
<!-- Eventually I want to make it so that this middle div is flipped with the icons still lined up but the bubble rotated 180 degrees(which is already setup under the .feed-mid on the nested div containing the speech-bubble image) but once the window is resized to the point where the columns stack the html content in that div are changed the same layout as the other too -->
                <!-- <div class="col-md-4"> -->
                     <!-- <div class="feed-mid"> -->
                    <!-- <div class="feed">
                        <img src="img/media/speech-bubble.png" class="img-responsive">
                    </div>
                    <a href="https://facebook.com/aadi.nickels">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <h4>Facebook</h4>
                    <p class="text-muted">www.facebook.com/aadi.nickels</p>
                </div>
                 <div class="col-md-4">
                    <div class="feed">
                        <img src="img/media/speech-bubble.png" class="img-responsive">
                    </div>
                    <a href="https://www.instagram.com/seeaadithink">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <h4>Instagram</h4>
                    <p class="text-muted">@SeeAadiThink</p>
                </div>
            </div>
    </section> -->

    <!-- About Section -->
    <section id="about" class="bg-light-gray">
    <!-- <section id="about"> -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The <b>Woman</b></h2>
                    <h3 class="section-subheading text-muted">Here is a peek at events in my history.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gemini.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The Early Years</h4>
                                    <h4 class="subheading">Once Upon a June Morning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It was June first and the stars had faded into the dawn as I joined the march of humanity. My family never settled long and I left the country when I was fourteen to live abroad for a year in Japan. After graduating high school I was awarded a scholarship from the Japanese Ministry of Education to study Japanese and Filmmaking for 3 years in Tokyo.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/spaceneedle.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2007</h4>
                                    <h4 class="subheading">Home Sweet Seattle</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My wayward feet found rest in the Emerald City and I fell in love with the temperate climate and views of Elliot Bay. Seattle is a unique place that has an atmosphere akin to the small towns I grew up in but with the vibrancy and freedom I felt in Tokyo.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/home.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2010</h4>
                                    <h4 class="subheading">Moving on Up!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Alan and I moved on up to Greenwood and my career as a manager began to flourish. During my time running Tully's Flagship location I developed a network of local artists and began displaying their work as an opportunity to get involved with the diverse downtown community. I also hosted live music events and began scheduling pianists to take advantage of the baby grand piano in our lobby!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/algorithm.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2015</h4>
                                    <h4 class="subheading">And Another Adventure Begins</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sometimes when you crave growth it means big change. For me I decided to leave Hospitality and Retail Management to begin my journey down the path of Full-Stack Web Development. Now I'm producing web applications and collaborating on independent projects as I continue to grow and look for the right company in which to invest my future.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a a class="page-scroll" href="#contact">
                                <div class="timeline-image">
                                    <h4>Let's</br>
                                        Work</br>
                                        Together</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

<!-- CAN GENERATE THIS FROM DATABASE - categories of hobbies - later after db set up  -->

     <!-- Hobbies Section -->
    <section id="hobbies">
    <!-- <section id="hobbies" class="bg-light-gray"> -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- <div class="hobbies-hover">
                        <div class="hobbies-hover-content">
                            <h1>Coming Soon</h1>
                        </div>
                    </div> -->
                    <h2 class="section-heading">Hobbies</h2>
                    <h3 class="section-subheading text-muted">Things I like to do and the adventures that ensue.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Film & Literature</h4>
                    <p class="text-muted">To be honest, this section will include pretty much anything that can qualify as a narrative. I love story-telling. More times than not a bad movie, book or show will have some redeeming quality to it's narrative and I feel like that can be enough to make it worth exploring. Hopefully I will be able to also showcase some of my own film projects!</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Arduino</h4>
                    <p class="text-muted">Have you played with micro controllers!? This is seriously the best hobby I have. In this section I will be posting tutorials of projects utilizing the Arduino Uno and other fun gadgets. Occasional guest, Brooke D., will also be a regular feature here.</p>
                </div>
                <div class="col-md-3">
                    <a href="https://www.geocaching.com/about/history.aspx">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <h4 class="service-heading">Geo Caching</h4>
                    <p class="text-muted">I do love a good puzzle to solve! Geo caching is a fun way to incorporate an objective to walking or hiking. Sometimes you find little treasures (I use this as an excuse to still buy quarter-machine-toys), other times it is just a log or it can be a view. Since starting to geo cache two years ago, I have introduced most of my friends to the joy of this adventure.</p>
                </div>
                 <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-asterisk fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Misc.</h4>
                    <p class="text-muted">Okay, okay, for years I have been trying to curb my enthusiasm for... well, everything! I love trying new hobbies and this Miscellaneous section will be my catch all for those adventures I have!</p>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                    <div class="hobbies-hover">
                        <div class="hobbies-hover-content">
                            <h1><i>Posts Coming Soon!</i></h1>
                        </div>
                    </div>
                </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section id="contact">
        <div class="container-fluid">
            <div id="form-content"class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The <b>Touch</b></h2>
                    <h3 id="contactsub" class="section-subheading text-muted">Whether you have a question or an interest in hiring me feel free to reach out!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3" >
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <div class='readme'>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <div class="readme">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <div class="readme">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; aadinickels.com 2015</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/spaceaadity"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/aadi.nickels"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/aadinickels"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- ADD JAVASCRIPT TO THIS ONCE DATABASE IS MADE - GENERATE CONTENT FROM DATABASE QUERY -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Interstellar Welcome</h2>
                            <p class="item-intro text-muted">My personal portfolio, aadinickels.com.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/personal_site.png" alt="">
                            <p>You are currently traversing the most recent product of this project. I wanted to create a single page application that was modern but welcoming. On this evolving project I strive to showcase my growing talents as a Full Stack Developer and incorporate my personality to create a enjoyable introductory experience. This project started with a Twitter Bootstrap template located <a href="https://github.com/BlackrockDigital/startbootstrap-agency">here</a>. On this site I am using NodeJs and ExpressJs for my back end serving needs. My biggest challenge at this time is navigating the Twitter API to embed my latest tweet. Taking full advantage of version control, I have a branch that I continue to develop for later merging and am hosting the current incarnation on AWS.</p>
                            <p>
                                <strong>Let's go to the source!</strong> You can view my source code for this site on my <a href="https://github.com/Spaceaadity/interstellar-welcome">Interstellar Welcome</a> repository</p>
                            <ul class="list-inline">
                                <li>Technology: AWS, Twitter Bootstrap, NodeJs, ExpressJs, jQuery, HTML5</li>
                                <li>Future Additions: Twitter API, Facebook API, Instagram API, PostgreSQL </li>
                                <li>Category: Website/Portfolio</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Morse Code Holiday Lights</h2>
                            <p class="item-intro text-muted">Morse code library put into action with a string of Christmas lights</p>
                            <img class="img-responsive img-centered" src="img/portfolio/arduinocommunitylogo.png" alt="">
                            <p>This was an fun night of coding with a very good friend, <a href="https://github.com/BandonRandon">Brooke Dukes</a>. We started with examples of Morse code projects for Arduino but found that none of them utilized the library format. I have some experience with writing custom modules in JavaScript so I was able to understand what our goal was while Brooke helped with her years of experience. The best thing about a 8 hour coding bonanza is walking away with something tangible. We hooked up a relay to the lights and used to connect it to the Arduino Uno. The relay controls the flow of voltage according to the libraries rules utilized by the merry_morse example. Check out the code on <a href="https://github.com/Spaceaadity/Morse-Code-Uno">GitHub</a>.</p>
                             <ul class="list-inline">
                                <li>Technology: Twitter Bootstrap, NodeJs, ExpressJs, jQuery, HTML5</li>
                                <li>Hardeware: Arduino Uno, Grove-Relay, Outdoor Christmas Lights </li>
                                <li>Category: Firmware</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/treehouse-preview.png" alt="">
                            <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/golden-preview.png" alt="">
                            <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>The Audio File</h2>
                            <p class="item-intro text-muted">Ruby on Rails Web Application</p>
                            <img class="img-responsive img-centered" src="img/portfolio/audio_file.png" alt="">
                            <p>This was an assessment test on my ability to build a Ruby on Rails application given the parameters of what the site needed to be able to accomplish. In a three hour window I coded the secure user login and registration, the database to house users, songs and user's play-lists. Users can add songs from the database to their play-list and they are able to add a song if it does not exist. They are able to see who else added the same song as them and are then able to see click on a user and see the rest of that user's play-list. I will go back and apply front end frame work to make this application more aesthetically pleasing but more excitingly I want to see what I can do with the Spotify API to evolve this application. This is a great example of my RoR code, <a href="https://github.com/Spaceaadity/The-Audio-Files">here</a> at it's GitHub location.</p>
                            <ul class="list-inline">
                                <li>Technology: Ruby on Rails, RESTful, CSS, PostgreSQL</li>
                                <li>Future Additions: Front End Framework, Spotify API</li>
                                <li>Category: Web Application</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Algorithms</h2>
                            <p class="item-intro text-muted">A collection of completed algorithmic problems.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/Algorithmic.jpg" alt="">
                            <p>This is a repository that I set up to show examples of algorithmic challenges I have completed. Inside the repository you will find folders for each of the algorithm that was apart of a challenge. The readme consists of the problem as it was presented, how the input is presented, how the output should be presented and any possible constraints on the parameters passed by the input. Take a peek at my <a href="https://github.com/Spaceaadity/Algorithms">Algorithms</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>
